body { font-family:-apple-system, Sans-Serif; font-size:14pt; background-color:#939393;
 margin: 0; hyphens: auto;
 background-image:linear-gradient(to right, #939393, #E1E1E1 calc((100% - 850px)/2), #E1E1E1 calc(100% - (100% - 850px)/2) , #939393);
}

#all_page { background-color:#ffffff; padding-bottom:2em; padding-top:50px;  
            margin:0 auto; max-width:850px; }

form, input, select, button { font-size:inherit;}
input, input[type=button], input[type=submit], select, button, nav a
{ border-style:solid; border-width:1px; border-color:#8f8f9d; border-radius:5px;
  padding:2px 5px; margin-left:20px; color:black; background-color:#dbdbdb; white-space:nowrap;
}
#navButton { margin-left:0; }
#contrast { float:left; }

nav { position:absolute; top:0; right:0; text-align:right; z-index:1; width:70px; height:70px; 
max-width:100%; max-height:100vh; overflow: hidden; }
nav p { margin:15px; line-height:2.2em; }
nav p.f { line-height:46px; }
nav label { white-space:nowrap; }
nav input[type=text] { width: 445px; max-width:calc(100% - 32px); background-color:#ffffff; }
nav select:hover, nav a:hover, nav button:hover, nav input[type=submit]:hover 
{ background-color:#d3d3d3; border-style:solid; border-width:1px; border-color:#8f8f9d;
  border-radius:5px; padding:2px 5px; text-decoration:none; 
}

h1 { position:absolute; top:0; max-width:770px; width:calc( 100% - 80px ); font-size:120%; 
     margin-top:0; padding:10px; padding-right:70px; background-color:#ffffff; }
h1 span { white-space:nowrap; }

h2 { font-size:110%; margin-left:10pt; }
h3 { font-size:105%; margin-left:10pt; }

span.note { color:green; }

#neighbour_words p { display:inline-block; }

.bottom { padding:5px; padding-bottom: 20px; background-color:#ffffff; }
.bottom input { font-size:100%; max-width:initial; }
.button { font-size:75%; }
form[name=b_parallel], form[name=b_open], form[name=f1] { padding:0; }
form[name=showv] { background-color:#ffffff; display:inline-block; }

form[name=showv] { display:inline-block; float:right; }

p { margin:0 10pt; }
p.sr { margin:0 10pt 10pt 10pt; }
p.bigpar { text-indent:2em; margin-bottom:0.5em; }

a { text-decoration:none; }
a:hover { text-decoration:underline; }

.content {
 background-color:white;
 padding:5px;
 min-height:530px;
}
.content h1 { position:relative; }

.p0 {
 margin:0 10pt 0 10pt; 
 text-indent:0pt;
}

.p {
 margin:0 10pt 0 10pt; 
 text-indent:20pt;
}

.panel {
 margin:3px;
 margin-left:3em;
 font-size:80%; 
}

.w { color:#FFFFFF;}
a.w { color:#00E9FF; text-decoration:none; }
a:hover.w { color:#FFD9D9; }

.averse { color:green; }

.ln 
{
 font-family:arial, helvetica, geneva, tahoma;
 color:white; 
 text-decoration:none; 
 background-color:#3359B0; 
 padding:2px; 
 border:1px solid black; 
 cursor:pointer; 
}

.fnotes{ color:rgb(210,0,0); }

a:hover.prl{  background-color:#939393; color:white; }

.w200 {width:160pt;}

.found { background-color:#b6e6b6; padding:0 0.25em; }

.button, .button:hover { text-decoration:none; overflow:hidden;
display:inline-block; white-space:nowrap; background-color:white; color:black; 
padding:1px 10px; border-radius:5px; margin-top:-4px; 
border:solid 1px #cecece;}
.bottom .button { margin-top:1px; }
.right { float:right; }
.left { float:left; }

#sallb { float:right; }
